<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Articles</h1>
      <% @articles.each do |article| %>
          <hr>
          <div class="row zoom-2">
            <div class="col-2">
                <%= image_tag 'twitter', {:style => "width:150px; height:150px;"}%>
            </div>
            <div class="col-10">
              <h4><strong><%= article.title %></strong></h4><br>
              <%= article.body.truncate(250) %>
              <% if user_signed_in? %>  
                <%= link_to 'Show', article %>
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
          <hr>
        <br>
      <% end %>
      
  <br>
  <%= link_to 'New Article', new_article_path %>
</div>